<!doctype html>
<html lang='en'>

<head>
  <meta charset='UTF-8' />
  <title>Game</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel='stylesheet' href='client/style/game.css' />
  <script src='client/lib/phaser.min.js'></script>
  <script src='client/lib/socket.io.js'></script>
  <script src='client/lib/phaser-input.min.js'></script>
</head>

<body>

  <script src='client/spriteEditor/js/main.js'></script>

</body>

</html>